<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.study.mapper.SysUsersJobsMapper">
    <sql id="tableName">
        sys_users_jobs
    </sql>

    <sql id="baseColumn">
        user_id,job_id
    </sql>

</mapper>