<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.study.mapper.ToolAlipayConfigMapper">
    <sql id="tableName">
        tool_alipay_config
    </sql>

    <sql id="baseColumn">
        config_id,app_id,charset,format,gateway_url,notify_url,private_key,public_key,return_url,sign_type,sys_service_provider_id
    </sql>

</mapper>